In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data/data.csv')
StarPlayer = pd.read_csv('../data/StarPlayer.csv')
StarPres = pd.read_csv('../data/StarPresence.csv')

In [ ]:
# merge star player and star presence
star = pd.merge(StarPlayer, StarPres, on= ['Year','Team'], how='left')

star_cnt = (star.groupby(['Year','Team'])
                 .size()
                 .reset_index(name='NumStars'))
star = star.merge(star_cnt, on=['Year','Team'], how='left')\
       .fillna({'NumStars': 0})
star = star.drop(columns=['StarPlayer'])

     Year                   Team  StarPresence  NumStars
220  2025        Detroit Pistons           1.0         1
221  2025         Indiana Pacers           1.0         1
222  2025   Los Angeles Clippers           1.0         1
223  2025        New York Knicks           1.0         2
224  2025  Oklahoma City Thunder           1.0         2